html {
  scroll-behavior: smooth;
}

::-moz-selection {
  /* Code for Firefox */
  color: rgba(220, 24, 83, 1);
  background: rgba(220, 24, 83, 0.1);
}

::selection {
  color: rgba(220, 24, 83, 1);
  background: rgba(220, 24, 83, 0.1);
}
